main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  height: 75px;
  color: var(--rose);
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

a {
  color: var(--hookers-green)
}

a:hover {
  color: var(--rose-red)
}

a:active {
  color: var(--rose)
}

.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

nav {
  padding-left: 30px;
}

.disclaimer {
  color: var(--rose)
}

p {
  margin-bottom: 10px;
}

.navLinks>li {
  margin-bottom: 20px;
  min-height: 100%
}

.navLinks>li>.links {
  font-weight: 900;
  color: var(--rose);
}

ul {
  text-decoration: none;
}

ol>li {
  margin-bottom: 10px;
}

.navLinks>li>.links:hover {
  color: var(--emerald);
}

.navLinks>li>.links:active {
  color: var(--hookers-green);
}

.codeBlock {
  color: var(--rose);
  font-style: italic;
  font-family: 'Courier Prime';
  font-size: .95em;
}

.title {
  position: absolute;
  color: var(--rose);
  padding-top: 10px;
  padding-left: 30px;
}

.mazeSection {
  margin-top: 30px;
  margin-left: 150px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partA {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  width: 900px;
  height: 100%;
  color: var(--hookers-green);
}

.contentContainer {
  width: 1250px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: flex; */
}

.mazeContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  background-color: var(--maze-bkgnd-init);
}

.mazeViewer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.displayArea {
  display: flex;
  margin-top: 50px;
  align-items: center;


}

.sideBar {
  margin-left: 50px;
  min-width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--rose);
}

.cellComponent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pixelComponent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mazeUnit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mazeButton {
  margin-top: 30px;
  cursor: pointer;
  width: 125px;
  height: 35px;
  border-radius: 0.25em;
  background-color: var(--hookers-green);
}

.mazeButton:hover {
  background-color: var(--rose);
}

.mazeButton:active {
  background-color: var(--emerald);
}

.coords {
  font-size: 3em;
}

.buttonContainer {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0px;
}